<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="BuildDotnetApp.CLI" Language="1033" Version="$(var.Version)" Manufacturer="JnTDigital" UpgradeCode="a1b2c3d4-e5f6-4a5b-8c3d-2e1f9b0fc3aa">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="BuildDotnetApp.CLI" Level="1">
            <ComponentGroupRef Id="ApplicationFiles" />
            <ComponentRef Id="PathEnvironment" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="BuildDotnetApp.CLI" />
            </Directory>
        </Directory>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        
        <WixVariable Id="WixUILicenseRtf" Value=".\installer\LICENSE.rtf" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch BuildDotnetApp.CLI" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

        <Component Id="PathEnvironment" Guid="B4A3F3D2-1A2B-4C3D-9E8F-7A6B5C4D3E2F" Directory="INSTALLFOLDER">
            <Environment Id="Path" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
        </Component>
    </Product>
</Wix> 